{% extends 'base.html' %}

{% block content %}
<style>
    .add-title{
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    .back-btn{
        position: absolute;
        top: 50px;
        left: 12px;
        width: 100px;
    }

    .button-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .submit{
        margin-top: 20px;
        width: 200px;
        height: 40px;
        border: none;
        background-color: black;
        color: white;
        border-radius: 55px;
    }

</style>
<div class="add-title">
    <h1>ADD RECORD</h1>
</div>

<a href="{% url 'home' %}"><button class="back-btn"> Back </button></a>  
<div class="container col-md-6">
    <div class="row">
        <form action="" method="POST" class="form">
            {% csrf_token %}
         
            {{form.as_p}}
                <div class="button-container">
                    <button type="submit" class="submit">Add</button>
                </div>
         </form>
    </div>
</div>



{% endblock %}