{% extends 'base.html' %}

{% block content %}

<div class="add-title">
    <h1>UPDATE RECORD</h1>
</div>

<a href="{% url 'home' %}"><button class="back-btn"> Back </button></a>  
<div class="container col-md-6">
    <div class="row">
        <form action="" method="POST" class="form">
            {% csrf_token %}
         
            {{form.as_p}}
                <div class="button-container">
                    <button type="submit" class="submit">Update</button>
                </div>
         </form>
    </div>
</div>



{% endblock %}